.HomePageContainer {
  background-color: #000;
  color: #fff;
  /* height: 100vh; */
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewReleasesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.IndividualReleaseContainer {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: solid 1px #fff;
  font-size: 1.2em;
}

.ImageContainer {
  height: 30em;
}

.ReleaseTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ReleaseTitle > h3 {
  padding-right: 1em;
}

.HomePageButton {
  background-color: #1db954;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  padding: 2em;
  text-decoration: none;
  text-transform: uppercase;
}
