.HomePageContainer {
  color: #fff;
  display: flex;
  width: 100%;
}

.ProfileContainer {
  align-items: center;
  background-color: rgb(51, 46, 41);
  display: flex;
  height: 50vh;
}

.ProfileContainer > img {
  border-radius: 50%;
  height: 192px;
  object-fit: cover;
  object-position: center center;
  padding: 2em;
  width: 192px;
}

.ProfileContainer > div {
  padding-right: 2em;
}

.SecondContainer {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 90vw;
}

.DisplayContainer {
  padding: 2em;
}

.LabelContainer {
  display: flex;
}

.LabelContainer > div {
  padding: 0 2em 0 0;
}

.PanelContainer {
  height: 61vh;
  padding-top: 2em;
}

.TopContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.IndividualContainer {
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
  text-decoration: none;
  width: 15vw;
}

.IndividualContainer > img {
  height: 150px;
  width: 150px;
}

.IndividualContainer > h4 {
  text-overflow: ellipsis;
}

@media (max-width: 425px) {
  .HomePageContainer {
    flex-direction: column;
  }

  .ProfileContainer {
    width: 100vw;
  }

  .IndividualContainer {
    padding-right: 0.5em;
    width: 48%;
  }

  .DisplayContainer {
    padding: 1em;
  }
}
