.SideNavbarContainer {
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: fit-content;
}

@media (max-width: 425px) {
  .SideNavbarContainer {
    height: 100%;
    width: 100%;
  }
}

.InnerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.SpotifyLogo {
  height: 40px;
  width: 131px;
}
