.SideNavbarContainer {
  background-color: #000;
  color: #fff;
  width: fit-content;
  height: 100vh;
}

@media (max-width: 425px) {
  .SideNavbarContainer {
    height: 100%;
    width: 100%;
  }
}

.InnerContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SpotifyLogo {
  width: 131px;
  height: 40px;
}
